body {
    background-color: #272727;
    color: azure;
    width: 320px;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
  }

  label {
      padding: 10px,10px,10px,10px;
      font-size: 1.3em;
  }

  #mainContent {
      
  }

  div #topRow {
      position: relative;
      width: 100%;
    padding: 5px 5px 5px 5px;
  }

  div #topRow #fileSize {
    position: relative;
     width: 50px;
     height: 20px;
     background-color: #ffffff;
     left: 10px;
     float: right;
  }
  div #topRow #fileSizeLabel {
    position: relative;

  }
  div #topRow #sizeDropDown {
    position: relative;
    padding: 2px;
    margin: 0px 5px 0px 15px;
    float: right;
    width: 85px;
  }

  div #bottomRow {
    position: relative;
    width: 100%;
  padding: 5px 5px 5px 5px;
}

div #bottomRow #uploadSpeed {
    position: relative;
     width: 50px;
     height: 20px;
     background-color: #ffffff;
     left: 10px;
     float: right;
  }
  div #bottomRow #uploadSpeedLabel {
    position: relative;

  }

  div #bottomRow #speedDropDown {
    position: relative;
    padding: 2px;
    margin: 0px 5px 0px 15px;
    float: right;
    width: 85px;
  }

  div #resultRow {
    position: relative;
    width: 100%;
  padding: 5px 5px 5px 5px;
}

div #resultRow #uploadTime {
    position: relative;
    float: right;
    margin-right: 10px;
    font-size: 1.3em;
}

div #copyrightRow {
    position: relative;
    width: 100%;
  padding: 5px 5px 5px 5px;
}

div #copyrightRow #copyrightLabel {
    position: relative;
    margin-right: 10px;
    font-size: 0.7em;
    color: rgb(255, 136, 51);
}